<!DOCTYPE html>
<html>
    {% include "partials/head.html" %}
<body>
    <div id="container">

        <div id="header">
{% include "partials/home.html" %}
            <a href="{{cfg.site.url}}{{home_url}}">
                <div class="description">
{% if frontmatter.date %}
    {{ frontmatter.date.strftime('%A, %B %d, %Y') }}
{% else %}
    {{ date }}
{% endif %}
                </div>
            </a>
        </div>

        <div id="breadcrumb">
{% include "partials/breadcrumb.html" %}
        </div>

        <h2 class="blogtitle">{{title}}</h2>
{% if description %}
        <blockquote><p>{{description}}</p></blockquote>
{% endif %}

        <div class="details-small">
          <ul class="details-small">
{% include "partials/author.html" %}
{% include "partials/date.html" %}
{% include "partials/gitinfo.html" %}
          </ul>
        </div>

{{ body }}

{% include "partials/footer.html" %}

        <div class="status">
            <ul class="status">
{% include "partials/pdfdownload.html" %}
            </ul>
        </div>
{% include "partials/foot-script.html" %}
    </body>
</html>
