{% if cfg.l10n and cfg.l10n.default %}
{%     set dftlng = cfg.l10n.default %}
{% endif %}
{% if cfg.l10n and toc and toc[locale] and cfg.toc[locale].text %}
{%     set toc = cfg.toc[locale].text %}
{% elif cfg.toc and cfg.toc[dftlng] and cfg.toc[dftlng].text %}
{%    set toc =  cfg.toc[dftlng].text %}
{% endif %}
{% if cfg.navigation and cfg.navigation[locale] %}
{%    set nav = cfg.navigation[locale] %}
{% elif cfg.navigation and cfg.navigation[dftlng] %}
{%    set nav = cfg.navigation[dftlng] %}
{% endif %}

{% set n = ['1'] %}

         <aside>
{% if cfg.navigation %}
             <article>
                 <header>
    {% if toc %}
                     <!--<h2>{{ toc_text }}</h2>-->
                     <h2>Agenda</h2>
    {% endif %}
                 </header>
    {% if nav %}
                 <ol class="navigation">
            {% for e in nav %}
                   <li><dl class="nav"><dt><a href="{{cfg.site.url}}{{ e.link.url }}">{{ e.link.text }}</dt><dd><a href="{{cfg.site.url}}{{ e.link.url }}">{{n|length}}</a></dd></dl></li>
                {% if n.append('1') %}{% endif %}
            {% endfor %}
               </ol>
    {% endif %}
             </article>

<!-- We want to print siblings for the title page put not for: categories, tags and keywords -->
<!-- Tags/index.md is 'type: title' and 'list: True' -->
<!-- Tags/KEYWORD.md is 'type: keyword' ' -->
{% if siblings and type == 'title' and not ( type == 'keyword' or frontmatter.list )  %}
             <article>
                     <header>
                             <h2>
      Main Topics
                             </h2>
                     </header>
                     <ol class="navigation">
            {% for obj in siblings %}
                             <li><dl class="nav"><dt><a href="{{ obj.url}}">{{ obj.title }}</dt><dd><a href="{{ obj.url }}">{{n|length}}</a></dd></dl></li>
                {% if n.append('1') %}{% endif %}
            {% endfor %}
                     </ol>
             </article>
{% endif %}

{% if git %}
             <article>
                     <header>
                             <h2>
      Git
                             </h2>
                     </header>
            <ul>
              <li><a class="tag-link" href="{{ git.UrlBlob }}"><i class="fab fa-github fa-fw"></i>View latest on Github</a></li>
              <li><a class="tag-link" href="{{ git.UrlEdit }}"><i class="fa fa-edit fa-fw"></i>Edit this page</a></li>
              <li><a class="tag-link" href="{{ git.UrlCommit }}"><i class="fab fa-git-alt fa-fw"></i>View commit on Github</a></li>
              <li><a class="tag-link" href="{{ repo.url }}/issues/new?title=Documentation"><i class="fa fa-book fa-fw"></i>Create documentation issue</a></li>
              <li><a class="tag-link" href="{{ repo.url }}/issues/new"><i class="fas fa-tasks fa-fw"></i>Create project issue</a></li>
            </ul>
             </article>
{% endif %}

    <!--- Latest -->
    {% if top10_list and cfg.feature.top10 and ( frontmatter.top10 or cfg.default.top10_right ) %}
             <article>
                     <header>
                             <h2>Latest</h2>
                     </header>
                     <ol class="navigation">
      {% for obj in top10_list %}
                       <li><dl class="nav"><dt><a href="{{ obj.url }}">{{ obj.title  }}</a></dt><dd><a href="{{ obj.url }}">{{n|length}}</a></dd></dl></li>
                {% if n.append('1') %}{% endif %}
      {% endfor %}
      </ol>
             </article>
      {% endif %}

    <!-- There is no page matching this condition: doc can have list, but doc has no right side bar -->
    {% if siblings and frontmatter.list and not ( type == 'title' ) %}
                 <header>
                   <h2>{{ title }} ...</h2>
                 </header>
             <article>
                 <ol class="navigation">
          {% for obj in siblings %}
                   <li><dl class="nav"><dt><a href="{{ obj.url}}">{{ obj.title }}</dt><dd><a href="{{ obj.url }}">{{n|length}}</a></dd></dl></li>
                {% if n.append('1') %}{% endif %}
          {% endfor %}
                 </ol>
            </article>
    {% endif %}

{% endif %}
        </aside>
