{% if cfg.l10n and cfg.l10n.default %}
{%     set dftlng = cfg.l10n.default %}
{% endif %}
{% if cfg.l10n and toc and toc[locale] and cfg.toc[locale].text %}
{%     set toc = cfg.toc[locale].text %}
{% elif cfg.toc and cfg.toc[dftlng] and cfg.toc[dftlng].text %}
{%    set toc =  cfg.toc[dftlng].text %}
{% endif %}
{% if cfg.navigation and cfg.navigation[locale] %}
{%    set nav = cfg.navigation[locale] %}
{% elif cfg.navigation and cfg.navigation[dftlng] %}
{%    set nav = cfg.navigation[dftlng] %}
{% endif %}

         <aside>
{% if cfg.navigation %}
    {% set n = 1 %}
             <article>
                 <header>
    {% if toc %}
                     <h2>{{ toc }}</h2>
    {% endif %}
                 </header>
    {% if nav %}
                 <ol class="navigation">
            {% for e in nav %}
                   <li><dl class="nav"><dt><a href="{{cfg.site.url}}{{ e.link.url }}">{{ e.link.text }}</dt><dd><a href="{{ e.link.url }}">{{n}}</a></dd></dl></li>
                {% set n = n + 1 %}
            {% endfor %}
               </ol>
    {% endif %}
             </article>
    {% if siblings and frontmatter.list %}
             <article>
                 <ol class="navigation">
          {% for obj in siblings %}
                   <li><dl class="nav"><dt><a href="{{ obj.url}}">{{ obj.title }}</dt><dd><a href="{{ obj.url }}">{{n}}</a></dd></dl></li>
                {% set n = n + 1 %}
          {% endfor %}
                 </ol>
            </article>
    {% endif %}

{% endif %}
        </aside>
